body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    font-family: 'Roboto', sans-serif;
}

body div#root > div {
    display: flex;
    flex-direction: column;
}

body div#root {
    display: flex;
    flex: 1;
}
